@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Knewave');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oleo Script', cursive;
}

.behind {
  z-index: 0;
}

.play-again button {
  height: 10vh;
  width: 10vw;
  border-radius: 5%;
  z-index: 10;
}

.play-again {
  z-index: 10;
}

.face {
  width: 40vw;
  height: 40vh;
}

.decision {
  font-size: 10vh;
  text-align: center;
  color: #53f8ad;
}

.drop-in {
  animation-name: drop-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0.82, 1, 1);
  animation-fill-mode: forwards;
}

@keyframes drop-in {
  0% {
    top: -100vh;
  }
  10% {
    top: -80v
  }
  100% {
    top: 0;
  }
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: -100vh;
}

#game-loss {
  position: absolute;
  top: -200vh;
}

#canvas {
  position: fixed;
  top: 0;
  z-index: -1;
  background: transparent;
}

#footer .score p {
  font-size: 3em;
}

.score {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
}

.rsp-choice {
  margin-right: 5vw;
  opacity: 0.7;
  filter: blur(1vw);
}

.make-move {
  animation-name: make-move;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0.82, 1, 1);
}

@keyframes make-move {
  0% {
    margin-right: 5vw;
    opacity: 0.7;
    filter: blur(1vw);
  }
  75% {
    margin-right: -5vw;
    opacity: 0.9;
    filter: blur(0.7vw);
  }
  100% {
    margin-right: 0vw;
    opacity: 1;
    filter: blur(0vw);
  }
}

.game-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.details {
  margin-bottom: 20px;
  color: #fff;
}

button:focus {
  outline: 0;
}

.active-disallowed {
  cursor: not-allowed;
}

.active-allowed:hover {
  background-color: #e1e1e6;
}
.active-allowed {
  cursor: pointer;
}

.moves-btn {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  font-size: 5vw;
  border: 2.7px solid #53f8ad;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btns-container:nth-child(1) {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}

.btns-container:nth-child(2) {
  border-left: 2px solid rgba(255, 255, 255, 0.4);
}

.btns-container {
  display: flex;
  flex: 1 1 50%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8em;
  flex-direction: column;
}

#game-controls {
  display: flex;
  margin-top: 40px;
}

#game-content {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* display: none; */
}

h1, h2, p, span, input, button {
  z-index: 10;
  font-weight: 100;
}

.head-foot p {
  font-weight: 100;
  font-size: 1.3em;
  text-align: center;
}

.head-foot, #controls {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

#heading {
  font-size: 6em;
  font-family: 'Knewave', cursive;
  font-weight: 100;
  text-align: center;
}

#controls button {
  height: 50px;
  width: 120px;
}

#controls input {
  height: 25px;
  width: 120px;
  margin-bottom: 20px;
}

/*
 * DO NOT EDIT BELOW THIS
 * CSS for original background animation
 * credit: https://codepen.io/Mamboleoo/pen/BxMQYQ
 */

body {
  margin: 0;
  overflow: hidden;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #4fa1d7;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(1) {
  color: #fbb6c7;
  top: 93%;
  left: 16%;
  animation-duration: 14.6s;
  animation-delay: -8.4s;
  transform-origin: 22vw 9vh;
  box-shadow: 40vmin 0 5.916648629vmin currentColor;
}

.background span:nth-child(2) {
  color: #fbb6c7;
  top: 73%;
  left: 22%;
  animation-duration: 10.2s;
  animation-delay: -12s;
  transform-origin: -14vw 21vh;
  box-shadow: 40vmin 0 7.3611622386vmin currentColor;
}

.background span:nth-child(3) {
  color: #73890e;
  top: 2%;
  left: 82%;
  animation-duration: 14.1s;
  animation-delay: -6.5s;
  transform-origin: -12vw 7vh;
  box-shadow: 40vmin 0 14.1096122018vmin currentColor;
}

.background span:nth-child(4) {
  color: #0a5f71;
  top: 18%;
  left: 2%;
  animation-duration: 13.4s;
  animation-delay: -10.2s;
  transform-origin: 19vw -13vh;
  box-shadow: -40vmin 0 13.9497675456vmin currentColor;
}

.background span:nth-child(5) {
  color: #73890e;
  top: 26%;
  left: 84%;
  animation-duration: 13.6s;
  animation-delay: -5.8s;
  transform-origin: 12vw -24vh;
  box-shadow: 40vmin 0 11.5619608552vmin currentColor;
}

.background span:nth-child(6) {
  color: #0a5f71;
  top: 57%;
  left: 37%;
  animation-duration: 12.6s;
  animation-delay: -14.7s;
  transform-origin: -10vw 4vh;
  box-shadow: -40vmin 0 5.9010344659vmin currentColor;
}

.background span:nth-child(7) {
  color: #0a5f71;
  top: 68%;
  left: 40%;
  animation-duration: 10.3s;
  animation-delay: -12.8s;
  transform-origin: -20vw 12vh;
  box-shadow: 40vmin 0 9.4776195393vmin currentColor;
}

.background span:nth-child(8) {
  color: #fbb6c7;
  top: 3%;
  left: 3%;
  animation-duration: 11.6s;
  animation-delay: -11.2s;
  transform-origin: 1vw 3vh;
  box-shadow: 40vmin 0 6.3677963306vmin currentColor;
}

.background span:nth-child(9) {
  color: #0a5f71;
  top: 21%;
  left: 29%;
  animation-duration: 10.9s;
  animation-delay: -12.8s;
  transform-origin: -21vw -8vh;
  box-shadow: -40vmin 0 8.1776398322vmin currentColor;
}

.background span:nth-child(10) {
  color: #fbb6c7;
  top: 38%;
  left: 12%;
  animation-duration: 14.8s;
  animation-delay: -2s;
  transform-origin: 17vw -11vh;
  box-shadow: -40vmin 0 12.8278320562vmin currentColor;
}

.background span:nth-child(11) {
  color: #73890e;
  top: 55%;
  left: 81%;
  animation-duration: 13.8s;
  animation-delay: -14s;
  transform-origin: 3vw -24vh;
  box-shadow: -40vmin 0 13.5561021427vmin currentColor;
}

.background span:nth-child(12) {
  color: #0a5f71;
  top: 89%;
  left: 12%;
  animation-duration: 11.1s;
  animation-delay: -8.3s;
  transform-origin: -16vw -21vh;
  box-shadow: 40vmin 0 9.3844641287vmin currentColor;
}

.background span:nth-child(13) {
  color: #73890e;
  top: 72%;
  left: 73%;
  animation-duration: 12s;
  animation-delay: -14.1s;
  transform-origin: -24vw -12vh;
  box-shadow: -40vmin 0 12.5008506449vmin currentColor;
}

.background span:nth-child(14) {
  color: #fbb6c7;
  top: 67%;
  left: 68%;
  animation-duration: 15.3s;
  animation-delay: -0.7s;
  transform-origin: 18vw 5vh;
  box-shadow: 40vmin 0 11.9988862673vmin currentColor;
}

.background span:nth-child(15) {
  color: #0a5f71;
  top: 46%;
  left: 3%;
  animation-duration: 14.8s;
  animation-delay: -8.4s;
  transform-origin: -2vw 8vh;
  box-shadow: -40vmin 0 11.8926699483vmin currentColor;
}

.background span:nth-child(16) {
  color: #0a5f71;
  top: 92%;
  left: 18%;
  animation-duration: 14.7s;
  animation-delay: -0.7s;
  transform-origin: -22vw -17vh;
  box-shadow: 40vmin 0 14.5432874025vmin currentColor;
}

.background span:nth-child(17) {
  color: #fbb6c7;
  top: 8%;
  left: 77%;
  animation-duration: 12.6s;
  animation-delay: -7.5s;
  transform-origin: -5vw -2vh;
  box-shadow: 40vmin 0 8.9870200002vmin currentColor;
}

.background span:nth-child(18) {
  color: #0a5f71;
  top: 9%;
  left: 67%;
  animation-duration: 10.2s;
  animation-delay: -8.7s;
  transform-origin: -20vw 5vh;
  box-shadow: -40vmin 0 12.676954822vmin currentColor;
}

.background span:nth-child(19) {
  color: #73890e;
  top: 26%;
  left: 53%;
  animation-duration: 14.4s;
  animation-delay: -10.9s;
  transform-origin: -8vw 11vh;
  box-shadow: 40vmin 0 8.9910653729vmin currentColor;
}

.background span:nth-child(20) {
  color: #73890e;
  top: 78%;
  left: 86%;
  animation-duration: 15s;
  animation-delay: -7.9s;
  transform-origin: -16vw -16vh;
  box-shadow: 40vmin 0 13.0020391969vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
