* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.head-foot, #controls {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
}

#heading {
  font-size: 3em;
}

#controls button:nth-child(1) {
  height: 50px;
  width: 120px;
  margin-top: 200px;
}
